html {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #fff;
    color: #444;
    font-size: 20px;
    font-family: Source Sans Pro, Helvetica Neue, Luxi Sans, DejaVu Sans, Tahoma, Hiragino Sans GB, Microsoft Yahei, sans-serif
}

a {
    color: inherit
}

a:active,
a:hover {
    color: #008fd1
}

code,
pre {
    background: #f3f3f0 none repeat scroll 0 0;
    font-size: .92857em;
    font-family: Menlo, Monaco, Consolas, Lucida Console, Courier New, monospace
}

code {
    padding: 2px 4px;
    color: #b94a48
}

pre {
    overflow: auto;
    padding: 0;
    border: 1px solid #ccc
}

pre code {
    padding: 3px;
    color: #444
}

blockquote {
    margin: 1em 1.5em;
    padding-left: 1.5em;
    border-left: 4px solid #f3f3f0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 0.75em;
    line-height: 1;
}

input[type=email],
input[type=password],
input[type=text],
input[type=url],
textarea {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 2px
}

textarea {
    resize: vertical
}

.comment-content a:hover,
.post-content a:hover,
.post-meta a:hover,
.widget a:hover {
    border-bottom-color: #00a3cf
}

.browsehappy {
    padding: 8px 0;
    background: #fbe3e4 none repeat scroll 0 0;
    color: #8a1f11;
    text-align: center
}

.browsehappy a {
    color: #8a1f11;
    text-decoration: underline;
    font-weight: 700
}

#header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    border-bottom: 1px solid #eee;
    background-color: #fff
}

#logo {
    color: #333;
    font-size: 2.5em
}

.description {
    position: absolute;
    top: 20px;
    right: 0;
    width: 25pc;
    color: #999;
    font-style: italic
}

#nav-menu {
    padding: 0
}

#nav-menu a {
    float: left;
    display: block;
    margin-right: -1px;
    padding: 0 20px;
    height: 62px;
    border-color: #eee;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    border-image: none;
    color: #444;
    line-height: 62px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in
}

#nav-menu .current,
#nav-menu a:hover {
    background: #f6f6f6 none repeat scroll 0 0
}

#search input {
    padding-right: 30px
}

#search button {
    position: absolute;
    top: 2px;
    right: 4px;
    padding: 0;
    width: 24px;
    height: 24px;
    border: medium none;
    text-indent: -9999em;
    direction: ltr
}

@media(min-resolution:192dpi),
not all {
    #search button {
        background-image: url(img/icon-search@2x.png);
        background-size: 24px 24px
    }
}

.post {
    padding: 15px 0 20px;
    border-bottom: 1px solid #eee
}

.post-title {
    margin: 0;
    font-size: 1.4em
}

.post-meta,
.post-title {
    padding: .2rem 0 .2rem 1.6rem;
    border-left: .4rem solid #00a3cf
}

.post-meta {
    margin: 0;
    border-color: #ccc;
    color: #999;
    font-size: .9em
}

.post-meta li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding-left: 9pt;
    border-left: 1px solid #eee;
    text-decoration: none
}

.post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: medium none
}

.post-content {
    line-height: 1.5
}

.post .tags {
    clear: both
}

.post-near {
    margin: 30px 0;
    padding: 0;
    color: #999;
    list-style: outside none none
}

.post-near li {
    margin: 10px 0
}

.archive-title {
    margin: 1em 0 -1em;
    padding-top: 20px;
    color: #999;
    font-size: 1em
}

.more {
    text-align: center
}

.more a {
    border: medium none
}

.protected .text {
    width: 50%
}

.page-navigator {
    margin: 25px 0;
    padding: 0;
    list-style: outside none none;
    text-align: center
}

.page-navigator li {
    display: inline-block;
    margin: 0 4px
}

.page-navigator a {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px
}

.page-navigator a:hover {
    background: #eee none repeat scroll 0 0;
    text-decoration: none
}

.page-navigator .current a {
    background: #eee none repeat scroll 0 0;
    color: #444
}

#comments {
    padding-top: 15px
}

.comment-list,
.comment-list ol {
    margin: 0;
    padding: 0;
    list-style: outside none none
}

.comment-list li {
    margin-top: 10px;
    padding: 14px;
    border: 1px solid #eee
}

.comment-list li.comment-level-odd {
    background: #f6f6f3 none repeat scroll 0 0
}

.comment-list li.comment-level-even {
    background: #fff none repeat scroll 0 0
}

.comment-list li.comment-by-author {
    background: #fff9e8 none repeat scroll 0 0
}

.comment-list li .comment-reply {
    text-align: right;
    font-size: .92857em
}

.comment-meta a {
    color: #999;
    font-size: .92857em
}

.comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444
}

.comment-author .avatar {
    float: left;
    margin-right: 10px
}

.comment-author cite {
    font-weight: 700;
    font-style: normal
}

.comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #eee
}

.respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em
}

#comment-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: 700
}

#comment-form .required:after {
    color: #c00;
    content: " *"
}

#secondary {
    padding-top: 15px;
    word-wrap: break-word
}

.widget {
    margin-bottom: 30px
}

.widget-list {
    padding: 0;
    list-style: outside none none
}

.widget-list li {
    margin: 5px 0;
    line-height: 1.5
}

.widget-list li ul {
    margin-left: 15px
}

footer {
    padding: .5em 0;
    color: #999;
    text-align: center;
    line-height: 1.5;
    opacity: 0;
}

.error-page {
    margin-top: 75pt;
    margin-bottom: 75pt
}

.comment-content,
.post-content {
    word-wrap: break-word;
    line-height: 1.6
}

.comment-content h2,
.post-content h2 {
    font-size: 1.28571em
}

.comment-content img,
.comment-content video,
.post-content img,
.post-content video {
    max-width: 98%;
    border: 8px solid #fff;
    box-shadow: 5px 5px 20px #888;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.comment-content a img,
.post-content a img {
    position: relative;
    bottom: -4px;
    background: #fff none repeat scroll 0 0
}

.comment-content hr,
.post-content hr {
    margin: 2em auto;
    width: 100%;
    border-color: #e9e9e9;
    border-style: solid;
    border-width: 2px 0 0;
    border-image: none;
    border: 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.alignleft {
    float: left
}

.alignright {
    float: right
}

img.alignleft {
    margin: 0 15px 0 0
}

img.alignright {
    margin: 0 0 0 15px
}

@media(max-width:767px) {
    body {
        font-size: .9em
    }
    #nav-menu a {
        float: none;
        display: inline-block;
        margin: 0 -2px
    }
}

@media(max-width:768px) {
    #header,
    .post-meta,
    .post-title {
        text-align: center
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 952px
    }
}

.hidden {
    display: none!important;
    visibility: hidden
}

.sr-only {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0 none
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto
}

.invisible {
    visibility: hidden
}

.sidebar-add {
    position: fixed;
    right: 300px
}

table th {
    font-weight: 700
}

table td,
table th {
    padding: 6px 13px;
    border: 1px solid #ccc
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff
}

table tr:nth-child(2n) {
    background-color: #f8f8f8
}

li:link {
    text-decoration: none
}

.post-meta span+span:before {
    margin: 0 .5rem;
    color: #ccc;
    content: "/"
}

a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none
}

h1 {
    font-size: 1.7em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1.3em
}

h5 {
    font-size: 1.1em
}

#tm {
    display: none
}

.mbdock {
    display: block;
    width: 100%;
    height: 188px;
    top: -128px;
    position: absolute;
    background: #262b37;
    box-shadow: 0 0 3px #000;
    transition: all .5s;
    text-align: center;
    z-index: -100
}

.mbdock li {
    list-style-type: none;
    font-size: 1.7em;
    color: #ccc;
    padding: 0 0 15px 0;
    border-color: black;
    border-width: 1px 1px medium
}

.sidenav a {
    text-decoration: none
}

label {
    width: 45px;
    display: block;
    cursor: pointer;
    margin: 4px 0 0 0
}

#tm:checked~ .mbdock {
    transform: translateY(188px)
}

#tm:checked~ #body {
    transform: translateX(250px)
}

@media(max-width:768px) {
    header {
        display: none!important
    }
}

@media(min-width:768px) {
    .mbdock,
    .menu,
    .mbnav {
        display: none!important
    }
}

.mbnav {
    width: 100%;
    height: 64px;
    position: fixed;
    background: #262b37;
    z-index: 999
}

.mbnav p {
    color: #eee;
    font-size: 1.8em;
    margin: 12.5px 0 0 0;
    right: 15px;
    position: absolute;
    top: 0
}

body {
    margin: 0
}

#sm {
    display: none
}

.search-icon {
    width: 20px;
    cursor: pointer
}

.search-background {
    z-index: 100;
    background: #000;
    opacity: .5
}

.mytable {
    opacity: .95;
    height: 100%;
    width: 100%;
    color: #1b98e0;
    top: -100%;
    position: fixed;
    transition: all .3s;
    background: #fff;
    z-index: 99999
}

.sform p {
    color: inherit;
    z-index: 999;
    font-size: 2em;
    width: 100%;
    margin: 0 0 5px 0
}

.sform input {
    width: 80%;
    font-size: 3em;
    outline: 0;
    box-shadow: none!important;
    color: inherit;
    text-align: center;
    border: 0;
    background-color: transparent
}

.search-close:hover {
    opacity: 1
}

#sm:checked~ .search {
    top: 0
}

#sm {
    display: none
}

.search-icon {
    width: 20px;
    display: block;
    cursor: pointer;
    top: 0
}

.search-background {
    z-index: 100;
    background: #000;
    opacity: .5
}

.search {
    height: 100%;
    width: 100%;
    color: #1b98e0;
    top: -100%;
    position: fixed;
    transition: all .3s;
    background: #000;
    z-index: 9999
}

.sform p {
    z-index: 999;
    width: 100%;
    text-align: center;
    margin-bottom: 0
}

.sform input {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 0
}

.search-close:hover {
    opacity: 1
}

#sm:checked~ .search {
    top: 0
}

#sm {
    display: none
}

.search-icon {
    width: 20px;
    cursor: pointer
}

.search-background {
    z-index: 100;
    background: #000;
    opacity: .5
}

.search {
    display: table;
    height: 100%;
    width: 100%;
    color: #1b98e0;
    top: -100%;
    position: fixed;
    transition: all .3s;
    background: #fff;
    z-index: 99999;
    opacity: .95
}

.sform {
    width: 100%;
    display: table-cell;
    vertical-align: middle
}

.sform p {
    z-index: 999;
    width: 100%;
    text-align: center;
    margin-bottom: 0
}

.table-center {
    margin: 0 auto
}

.search-close::before {
    content: '\2715'
}

.search-close {
    font-size: 3em;
    line-height: 100px;
    width: 100px;
    color: #1b98e0;
    position: absolute;
    cursor: pointer;
    right: 0;
    text-align: center;
    top: 0;
    opacity: .5;
    transition: color .3s ease 0, opacity .2s ease 0, transform .3s ease 0
}

.search-close:hover {
    opacity: 1
}

#sm:checked~ .search {
    top: 0
}

.post-content p a {
    color: #0093ff
}

.active {
    top: 0
}

.loader {
    width: 100%;
    margin: auto;
    background: #111;
    height: 100%;
    z-index: 99999;
    position: fixed
}

.loader .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40%;
    left: 47%;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 2.5s;
    transition: display 7s;
    -moz-transition: display 7s;
    -webkit-transition: display 7s;
    -o-transition: display 7s
}

.loader .circle:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff
}

.loader .circle:nth-child(2) {
    animation-delay: 250ms
}

.loader .circle:nth-child(3) {
    animation-delay: 500ms
}

.loader .circle:nth-child(4) {
    animation-delay: 750ms
}

.loader .circle:nth-child(5) {
    animation-delay: 1000ms
}

@keyframes orbit {
    0 {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out
    }
    15% {
        transform: rotate(385deg);
        opacity: 1;
        animation-timing-function: linear
    }
    70% {
        transform: rotate(485deg);
        opacity: 1;
        animation-timing-function: ease-in
    }
    75% {
        transform: rotate(585deg);
        opacity: 0;
        animation-timing-function: ease-out
    }
    76% {
        transform: rotate(585deg);
        opacity: 0
    }
    100% {
        transform: rotate(585deg);
        opacity: 0
    }
}

.ajax {
    display: block!important;
    margin: auto
}

@import url("http://libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css");
.menu__item:nth-child(2)::after {
    border: 1rem solid #00dffc
}

.menu__item:nth-child(2) {
    background-color: #00dffc
}

.menu__item:nth-child(2):hover {
    background-color: #45d9fd
}

.menu__item:nth-child(2):hover::after {
    border: 1rem solid #45d9fd;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent
}

.menu__item:nth-child(3)::after {
    border: 1rem solid #2ad4fd
}

.menu__item:nth-child(3) {
    background-color: #2ad4fd
}

.menu__item:nth-child(3):hover {
    background-color: #29cef5
}

.menu__item:nth-child(3):hover::after {
    border: 1rem solid #29cef5;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent
}

.menu__item:nth-child(4)::after {
    border: 1rem solid #29cef5
}

.menu__item:nth-child(4) {
    background-color: #29cef5
}

.menu__item:nth-child(4):hover {
    background-color: #27c4ea
}

.menu__item:nth-child(4):hover::after {
    border: 1rem solid #27c4ea;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent
}

.menu__item:nth-child(5)::after {
    border: 1rem solid #27c4ea
}

.menu__item:nth-child(5) {
    background-color: #27c4ea
}

.menu__item:nth-child(5):hover {
    background-color: #00bcea
}

.menu__item:nth-child(5):hover::after {
    border: 1rem solid #00bcea;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent
}

.menu__item,
.menu__item::before,
.menu__item::after {
    box-sizing: border-box;
    outline: 0
}

.menu__item {
    text-decoration: none;
    color: #fff
}

.menu input[type=checkbox] {
    position: absolute;
    display: none
}

.menu {
    z-index: 300;
    position: fixed;
    font-size: 16px;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.menu__item {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    padding: .5rem;
    transform: translateX(calc(-100% - 32px));
    transition: background-color .2s
}

.menu__item:nth-child(2) {
    width: 10rem
}

.menu__item:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 0;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: border .2s
}

.menu__item:nth-child(3) {
    width: 8rem
}

.menu__item:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 0;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: border .2s
}

.menu__item:nth-child(4) {
    width: 6rem
}

.menu__item:nth-child(4)::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 0;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: border .2s
}

.menu__item:nth-child(5) {
    width: 4rem
}

.menu__item:nth-child(5)::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 0;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: border .2s
}

.menu__close {
    position: relative;
    font-family: FontAwesome;
    font-size: 1rem;
    color: #fff;
    width: 2rem;
    height: 2rem;
    margin: 0;
    cursor: pointer;
    transform: translateX(-100%)
}

.menu__close::before {
    position: absolute;
    content: "\f00d";
    top: .7rem;
    left: .7rem;
    z-index: 1
}

.menu__close::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 2rem solid #00bcea;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    transition: border .2s
}

.menu__close:hover::after {
    border: 2rem solid #00b3df;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid transparent
}

input[type=checkbox]:checked~ .menu__item:nth-child(2) {
    transition: transform .2s .3s, background-color .2s;
    transform: translateX(calc(-100% - 1rem - .5rem * 2))!important
}

input[type=checkbox]:checked~ .menu__item:nth-child(3) {
    transition: transform .2s .2s, background-color .2s;
    transform: translateX(calc(-100% - 1rem - .5rem * 2))!important
}

input[type=checkbox]:checked~ .menu__item:nth-child(4) {
    transition: transform .2s .1s, background-color .2s;
    transform: translateX(calc(-100% - 1rem - .5rem * 2))!important
}

input[type=checkbox]:checked~ .menu__item:nth-child(5) {
    transition: transform .2s 0, background-color .2s;
    transform: translateX(calc(-100% - 1rem - .5rem * 2))!important
}

input[type=checkbox]:checked~ .menu__close {
    transition: transform .2s .3s, background-color .2s;
    transform: translateY(-8rem)!important
}

input[type=checkbox]:checked~ .menu__close::before {
    content: "\f0c9"
}

input[type=checkbox]:not(:checked)~ .menu__item:nth-child(2) {
    transition: transform .2s .1s, background-color .2s;
    transform: translateX(0)!important
}

input[type=checkbox]:not(:checked)~ .menu__item:nth-child(3) {
    transition: transform .2s .2s, background-color .2s;
    transform: translateX(0)!important
}

input[type=checkbox]:not(:checked)~ .menu__item:nth-child(4) {
    transition: transform .2s .3s, background-color .2s;
    transform: translateX(0)!important
}

input[type=checkbox]:not(:checked)~ .menu__item:nth-child(5) {
    transition: transform .2s .4s, background-color .2s;
    transform: translateX(0)!important
}

input[type=checkbox]:not(:checked)~ .menu__close {
    transition: transform .2s .1s, background-color .2s;
    transform: translateY(0)!important
}

.tag>a {
    margin-right: 10px;
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    text-decoration: none;
    -webkit-transition: color .2s
}

.tag>a::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px
}

.tag>a::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0
}

.tag>a:hover {
    background-color: #69d2e7;
    color: white
}

.tag>a:hover::after {
    border-left-color: #69d2e7
}

article img {
    display: block;
    margin: 5px auto 0
}

pre {
    position: relative;
}

pre:before {
    content: attr(alt);
    display: block;
    padding: 0.5em 4.5em;
    line-height: 1;
    height: 2em;
    font-size: 1.1em;
    color: #fff;
    background-color: #222;
    box-sizing: border-box;
}

pre:after {
    content: " ";
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d;
    width: 0.75em;
    height: 0.75em;
    top: 0;
    left: 1em;
    margin-top: 0.68em;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 1.1em 0 #fdbc40, 2.2em 0 #35cd4b;
}

.animated.container {
    display: none;
}

.rword {
    opacity: 0;
    position: absolute;
    right: 0;
}

.letter {
    display: inline-block;
    float: left;
    position: relative;
    transform-origin: 50% 50% 25px;
    transform: translateZ(25px);
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform .32s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform .38s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}